{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/faq_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h2 class="faq-head">Часто задаваемые</h2>
        <h2 class="faq-head">вопросы</h2>
    </div>
    {% for question in questions %}
    <div class="questions">
        <button id="{{ loop.index }}" class="faq-item">
            <div class="faq-item">
                <div class="faq-question">
                    {{ question.q }}
                    <div class="faq-answer">{{ question.a }}</div>
                </div>
            </div>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}