{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/faq_questions.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'stat' %}'">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" >Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'stat' %}'">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'redac' %}'">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv" onclick="location.href='{% url 'add' %}'">
                        <p class="button-text" >Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h2 class="faq-head">Часто задаваемые</h2>
        <h2 class="faq-head">вопросы</h2>
    </div>
    <div class="questions">

        <button id="1" class="faq-item">
          <div class="faq-question">Как купить квартиру?
            <div id="a1" class="faq-answer">Никак</div>
            </div>
        </button>

    </div>
    <div class="questions">

        <button id="2" class="faq-item">
          <div class="faq-question">Как оплатить квартиру?
            <div id="a2" class="faq-answer">Вы можете оплатить квартиру прямо на сайте с помощью T Pay.</div>
            </div>
        </button>

    </div>
    <div class="questions">

        <button id="3" class="faq-item">
          <div class="faq-question">Как увидеть статистику по заработку?
            <div id="a3" class="faq-answer">Никак, мы - не приложение вашего банка.</div>
            </div>
        </button>

    </div>
    <div class="questions">

        <button id="4" class="faq-item">
          <div class="faq-question">Как добавить квитанции об оплате?",
            <div id="a4" class="faq-answer">Никак</div>
            </div>
        </button>

    </div>
    <div class="questions">

        <button id="5" class="faq-item">
          <div class="faq-question">Можно ли связаться с администрацией сайта?
            <div id="a5" class="faq-answer">Нет, идите к чёрту, проект сдан, мы сваливаем в закат.</div>
            </div>
        </button>

    </div>
    <div class="questions">

        <button id="6" class="faq-item">
          <div class="faq-question">Присутствует ли на сайте поверка квартир перед выкладкой?
            <div id="a6" class="faq-answer">Нет, модератор просто галочки тыкает с перерывом на сон."</div>
            </div>
        </button>

    </div>
</div>
    <script>
        'use script'

        document.getElementById('1').addEventListener('click', function(event) {
        document.getElementById('a1').classList.toggle('show');
        document.getElementById('1').classList.toggle('expand');
        });
        document.getElementById('2').addEventListener ('click', function(event) {
            document.getElementById('a2').classList.toggle('show');
            document.getElementById('2').classList.toggle('expand');
        });
        document.getElementById('3').addEventListener('click', function(event) {
            document.getElementById('a3').classList.toggle('show');
            document.getElementById('3').classList.toggle('expand');
        });
        document.getElementById('4').addEventListener('click', function(event) {
            document.getElementById('a4').classList.toggle('show');
            document.getElementById('4').classList.toggle('expand');
        });
        document.getElementById('5').addEventListener('click', function(event) {
            document.getElementById('a5').classList.toggle('show');
            document.getElementById('5').classList.toggle('expand');
        });
        document.getElementById('6').addEventListener('click', function(event) {
            document.getElementById('a6').classList.toggle('show');
            document.getElementById('6').classList.toggle('expand');
        });
    </script>

{% endblock %}