{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/flat_list_buy.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
            <div class="back-img">
                <div class="search-cont">
                    <div>
                        <h2 class="text-noto">Найдите свой идеальный дом</h2>
                    </div>
                    <div>
                        <div class="wrapper">
                            <input class="search-input" placeholder="Ищем город, район или адрес">
                            <button class="but-search">
                                <p class="search-text">Поиск</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="text">Последние предложения</h3>
                </div>
                {% for apartment in apartments %}
                <div class="var-cont">
                <img class="flat-img" src="{{ apartment.image.url }}">
                    <div class="desc-cont">
                        <div class="desc">

                            <h4 class="name-flat">{{ apartment.name }}</h4>
                            <p class="desc-text">{{ apartment.city }}</p>
                            <p class="desc-text">{{ apartment.cost_per_night }}</p>



                        </div>
                        <div class="but-div">
                            <button class="reserve-but" onclick="location.href='{% url 'flat_detail' flat_id=apartment.id %}'">
                                <p class="reserve-text">Забронировать</p>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}