{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/flat_list_buy.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
            <div class="back-img">
                <div class="search-cont">
                    <div>
                        <h2 class="text-noto">Найдите свой идеальный дом</h2>
                    </div>
                    <div>
                        <div class="wrapper">
                            <input class="search-input" placeholder="Ищем город, район или адрес">
                            <button class="but-search">
                                <p class="search-text">Поиск</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="text">Последние предложения</h3>
                </div>
                <div class="var-cont">
                    <div class="flat-img">

                    </div>
                    <div class="desc-cont">
                        <div class="desc">
                            <p class="desc-text">Дом целиком</p>
                            <h4 class="name-flat">Вилла Санта-Барбара с видом на океан</h4>
                            <p class="desc-text">Санта-Барбара, Калифорния</p>
                            <p class="desc-text">4 спальни • 3 ванные • 2,000 кв.футов</p>

                        </div>
                        <div class="but-div">
                            <button class="reserve-but">
                                <p class="reserve-text">Забронировать</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="var-cont">
                    <div class="flat-img">

                    </div>
                    <div class="desc-cont">
                        <div class="desc">
                            <p class="desc-text">Дом целиком</p>
                            <h4 class="name-flat">Вилла Санта-Барбара с видом на океан</h4>
                            <p class="desc-text">Санта-Барбара, Калифорния</p>
                            <p class="desc-text">4 спальни • 3 ванные • 2,000 кв.футов</p>

                        </div>
                        <div class="but-div">
                            <button class="reserve-but">
                                <p class="reserve-text">Забронировать</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="var-cont">
                    <div class="flat-img">

                    </div>
                    <div class="desc-cont">
                        <div class="desc">
                            <p class="desc-text">Дом целиком</p>
                            <h4 class="name-flat">Вилла Санта-Барбара с видом на океан</h4>
                            <p class="desc-text">Санта-Барбара, Калифорния</p>
                            <p class="desc-text">4 спальни • 3 ванные • 2,000 кв.футов</p>

                        </div>
                        <div class="but-div">
                            <button class="reserve-but">
                                <p class="reserve-text">Забронировать</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}