{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/my_complaints.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv">
                        <p class="button-text">Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h2 class="head-text">Опишите вашу проблему</h2>
    </div>
    <div class="tab-container">
        <button class="underlined-tab">
            <p class="tab">Ваш запрос</p>
        </button>
        <button class="reg-tab">
            <p class="tab">Мои запросы</p>
        </button>
    </div>
    <div>
        <h2 class="head-text">Ваши жалобы</h2>
    </div>
    <div>
         <p class="text">04.04.2025</p>
         <p class="text">27.03.2025</p>
         <p class="text">13.02.2025</p>
    </div>
</div>
{% endblock %}