{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/my_flats.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
            <div>
                <h2 class="stat-head">Ваша статистика</h2>
            </div>
            <div class="flex">
                <div class="earn-cont">
                    <p class="earn-money">3</p>
                    <p class="small-text">Квартир на продаже</p>
                </div>
                <div class="earn-cont">
                    <p class="earn-money">420 00₽</p>
                    <p class="small-text">Всего заработано</p>
                </div>
            </div>
            <div class="choose-cont">
                <div class="option-chosed">
                    <p class="choose-text">Все квартиры</p>
                </div>
                <div class="option">
                    <p class="choose-text">Убранные</p>
                </div>
                <div class="option">
                    <p class="choose-text">Активные</p>
                </div>
            </div>
            {% for apartment in apartments %}
                <div class="add-cont">
                    <div>
                        <img class="flat-img-1" src="{{ apartment.image.url }}">
                    </div>
                    <div class="flat-name-cont">
                        <a href="{% url 'stat' flat_id=apartment.id %}" class="flat-name">{{ apartment.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}