{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/my_flats.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv">
                        <p class="button-text">Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="container">
            <div>
                <h2 class="stat-head">Ваша статистика</h2>
            </div>
            <div class="flex">
                <div class="earn-cont">
                    <p class="earn-money">3</p>
                    <p class="small-text">Квартир на продаже</p>
                </div>
                <div class="earn-cont">
                    <p class="earn-money">420 00₽</p>
                    <p class="small-text">Всего заработано</p>
                </div>
            </div>
            <div class="choose-cont">
                <div class="option-chosed">
                    <p class="choose-text">Все квартиры</p>
                </div>
                <div class="option">
                    <p class="choose-text">Убранные</p>
                </div>
                <div class="option">
                    <p class="choose-text">Активные</p>
                </div>
            </div>
            {% for apartment in apartments %}
                <div class="add-cont">

                    </div>
                    <div class="flat-name-cont">
                        <img src="{{ apartment.image.url }}" 
     alt="{{ apartment.city }}" 
     style="width: 100px; height: 100px; object-fit: cover;">
     <a class="flat-name" href="{% url 'flat_detail' apartment.id %}">
        {{ apartment.city }}, {{ apartment.street }} {{ apartment.housenum }}
    </a>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
{% endblock %}