{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/my_problems.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text">Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'redac' %}'">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv" onclick="location.href='{% url 'add' %}'">
                        <p class="button-text" >Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h2 class="head-text">Опишите вашу проблему</h2>
    </div>
    <div class="tab-container">
        <button class="underlined-tab">
            <p class="tab">Ваш запрос</p>
        </button>
        <button class="reg-tab">
            <p class="tab">Мои запросы</p>
        </button>
    </div>
    <div>
        <input class="desc-inp" placeholder="Опишите вашу проблему">
    </div>
    <div class="add-photo">
        <div class="camera"></div>
        <div>
            <p class="text">Добавить фото</p>
            <p class="color-text">Можно добавлять до 3 фото</p>
        </div>
    </div>
    <button class="button">
        <p class="but-text">Отправить запрос</p>
    </button>
</div>
{% endblock %}