{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/redac_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
            <div>
                <h2 class="head-settings-text">Настройки</h2>
            </div>
            <form method="post" action="{% url 'redact' %}">
                <div class="logo-container">
                    <div class="logo">
                        <img src="">
                    </div>
                    <div>
                        {{ change_profile_form.avatar }}
                    </div>
                    <div class="change-logo-button">
                        <p class="change-logo-text">Сменить аватар</p>
                    </div>
                </div>
            </form>
            <form method="post" action="{% url 'redact' %}">
                <div class="personal-info-container">
                    <h4 class="personal-info-head-text">Персональная информация</h4>
                </div>
                <div>
                    <p class="personal-info-text">Имя</p>
                    {{ change_user_form.first_name }}
                </div>
                <div>
                    <p class="personal-info-text">Фамилия</p>
                    {{ change_user_form.last_name }}
                </div>
                <div>
                    <p class="personal-info-text">Почта</p>
                    {{ change_user_form.email }}
                </div>
                <button type="submit">Сохранить изменения</button>
            </form>
            <div>
                <h4 class="personal-info-head-text">Пароль</h4>
            </div>
            <form method="post" action="{% url 'redact' %}">
                {% csrf_token %}
                <div>
                    <p class="personal-info-text">Ваш пароль</p>
                    {{ change_password_form.old_password }}
                </div>
                <div>
                    <p class="personal-info-text">Новый пароль</p>
                    {{ change_password_form.new_password }}
                </div>
                <div>
                    <p class="personal-info-text">Подтвердите новый пароль</p>
                    {{ change_password_form.confirm }}
                </div>
                <button type="submit">Сменить пароль</button>
            </form>
        </div>
{% endblock %}