{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/redact_profile.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'stat' %}'">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" >Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'stat' %}'">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'redac' %}'">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv" onclick="location.href='{% url 'add' %}'">
                        <p class="button-text" >Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div>
            <a href="{% url 'profile' %}" class="no-underline">
                <p class="gold-colored">< Назад</p>
            </a>
            <div>
                <h2 class="head-settings-text">Настройки</h2>
            </div>
            <form method="post" action="{% url 'redac' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="logo-container">
                    <div class="col-md-auto logo">
                        {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" class="logo">
                        {% endif %}
                    </div>
                    <div class="col"></div>
                    <div class="col-md-auto">
                        <input type="submit" class="change-logo-button change-logo-text" value="Сменить аватар">
                    </div>
                </div>
                <div>
                    {{ change_profile_form.avatar }}
                </div>
            </form>
            <form method="post" action="{% url 'redac' %}">
                {% csrf_token %}
                <div class="personal-info-container">
                    <h4 class="personal-info-head-text">Персональная информация</h4>
                </div>
                <div>
                    <p class="personal-info-text">Имя</p>
                    {{ change_user_form.first_name }}
                </div>
                <div>
                    <p class="personal-info-text">Фамилия</p>
                    {{ change_user_form.last_name }}
                </div>
                <div>
                    <p class="personal-info-text">Почта</p>
                    {{ change_user_form.email }}
                </div>
                <button type="submit">Сохранить изменения</button>
            </form>
            <div>
                <h4 class="personal-info-head-text">Пароль</h4>
            </div>
            <form method="post" action="{% url 'redac' %}">
                {% csrf_token %}
                <div>
                    <p class="personal-info-text">Ваш пароль</p>
                    {{ change_password_form.old_password }}
                </div>
                <div>
                    <p class="personal-info-text">Новый пароль</p>
                    {{ change_password_form.new_password }}
                </div>
                <div>
                    <p class="personal-info-text">Подтвердите новый пароль</p>
                    {{ change_password_form.confirm }}
                </div>
                <button type="submit">Сменить пароль</button>
            </form>
        </div>
{% endblock %}