{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/show_flat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <img class="your-img" src="{{ apartment.image.url }}" >
    <div class="price-block">
        <h3 class="price-text">{{ apartment.cost_per_night }}</h3>
        <p class="text">{{ apartment.sleeping_rooms }} спален, {{ apartment.bathrooms }} ванны, {{ apartment.square }}м²</p>
    </div>
    <div>
        <p class="text">{{ apartment.description}}</p>
    </div>
    <div>
        <h3>О квартире</h3>
    </div>
    <div class="line"></div>
    <div class="columns">
        <div class="part">
            <p class="head-text">Колличество людей</p>
            <p class="text">{{ apartment.max_people }}</p>
        </div>
        <div class="part">
            <p class="head-text">Колличество кроватей</p>
            <p class="text">{{ apartment.sleeping_places }}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="columns">
        <div class="part">
            <p class="head-text">Условия аренды</p>
            <p class="text">Предоплата: {{ apartment.prepayment }}</p>
            <p class="text">Колличество ночей(мин): {{ apartment.min_nights }}</p>
        </div>
        <div class="part">
            <p class="head-text">Расположение</p>
            <p class="text">Город: {{ apartment.city }}, Улица:{{ apartment.street }}</p>
            <p class="text">Дом: {{ apartment.housenum }}, Квартира №:{{ apartment.number }}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="columns">
        <div class="part">
            <p class="head-text">Места рядом</p>
            <p class="text">{{ apartment.nearby_objects }}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="columns">
        <div class="part">
            <p class="head-text">Удобства</p>
            <p class="text">{{ apartment.amenities }}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="columns">
        <div class="part">
            <p class="head-text">Правила</p>
            <p class="text">{{ apartment.living_rules }}</p>
        </div>
    </div>
    <button class="button-submit height-margin">
        <p class="text-submit">Связаться с арендодателем</p>
    </button>
</div>

{% endblock %}
