{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/support_message.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h2 class="head-text">Напишите ваш запрос</h2>
    </div>
    <div class="tab-container">
        <button class="underlined-tab">
            <p class="tab">Главная</p>
        </button>
        <button class="reg-tab">
            <p class="tab">Техника</p>
        </button>
        <button class="reg-tab">
            <p class="tab">Пломбы</p>
        </button>
        <button class="reg-tab">
            <p class="tab">Электричество</p>
        </button>
    </div>
    <div>
        <input class="desc-inp" placeholder="Опишите вашу проблему" id="userMessage">
    </div>
    <div class="add-photo">
        <div class="camera"></div>
        <div>
            <p class="text">Добавить фото</p>
            <p class="color-text">Можно добавлять до 3 фото</p>
        </div>
    </div>
    <button class="button" id="sendRequest">
        <p class="but-text">Отправить запрос</p>
    </button>
</div>

<script>
    document.getElementById('sendRequest').addEventListener('click', function() {
        const userMessage = document.getElementById('userMessage').value;

        fetch('/send-support-message/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Не забудьте передать CSRF токен
            },
            body: JSON.stringify({ message: userMessage })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Сообщение отправлено успешно!');
            } else {
                alert('Ошибка при отправке сообщения.');
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}