{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/support_message.css' %}">
{% endblock %}
{% block header %}
<header>
        <div class="head">
            <div class="name">
                <div></div>
                <div class="name-only">
                    <h3>Домовенок ЙОУУУУ</h3>
                </div>
            </div>
            <div class="head">
                <input class="search" placeholder="Поиск">
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'profile' %}'">Главная</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Статистика</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" >Чаты</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Квитанции</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'sup' %}'">Поддержка</p>
                </div>
                <div class="navigation-text">
                    <p class="head-navigation-text" onclick="location.href='{% url 'redac' %}'">Настройки</p>
                </div>
                <div>
                    <button class="publish-adv" onclick="location.href='{% url 'add' %}'">
                        <p class="button-text" >Разместить объявление</p>
                    </button>
                </div>
                <div class="logo-small">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h2 class="head-text">Напишите ваш запрос</h2>
    </div>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
    <div class="flex">
        <div>
            <button class="reg-tab">
                <h3 class="tab">Вода</h3>
            </button>
            <div class="width">
                {{ form.water_input}}
                {{ form.water_payment}}
            </div>
            <div class="add-photo">
                <div class="camera"></div>
                <div>
                    <p class="text">Добавить квитанцию</p>
                    {{ form.water_receipt}}
                </div>
            </div>
        </div>
        <div>
            <button class="reg-tab">
                <p class="tab">Свет</p>
            </button>
            <div class="width">
                {{ form.electro_input}}
                {{ form.electro_payment}}
            </div>
            <div class="add-photo">
                <div class="camera"></div>
                <div>
                    <p class="text">Добавить квитанцию</p>
                    {{ form.electro_receipt}}
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div>
        <button class="reg-tab">
            <p class="tab">Газ</p>
        </button>
        <div class="width">
            {{ form.gas_input}}
            {{ form.gas_payment}}
        </div>
        <div class="add-photo">
            <div class="camera"></div>
            <div>
                <p class="text">Добавить квитанцию</p>
                {{ form.gas_receipt}}
            </div>
        </div>
    </div>
    <div>
        <button class="reg-tab">
            <p class="tab">ЖКХ</p>
        </button>
        <div class="width">
            {{ form.GKX_payment}}
        </div>
        <div class="add-photo">
            <div class="camera"></div>
            <div>
                <p class="text">Добавить квитанцию</p>
                {{ form.GKX_receipt}}
            </div>
        </div>
    </div>
    </div>
        <button class="reg-tab">
            <p class="tab">Аренда</p>
        </button>
        <div class="width">
            {{ form.rent_payment}}
        </div>
        <div class="add-photo">
            <div class="camera"></div>
            <div>
                <p class="text">Добавить квитанцию</p>
                {{ form.rent_receipt}}
            </div>
        </div>
    
    <button class="button" id="sendRequest" type="submit">
        <p class="but-text">Отправить запрос</p>
    </button>
</form>
</div>

<script>

</script>
{% endblock %}
