{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="head">
            <div class="container-prof">
                <div class="logo">
                    <div class="img"></div>
                    <p class="style-text">EasyVote</p>
                </div>
            </div>
            <div class="">
                <button class=" small-enter enter-text" onclick="location.href='{% url 'login' %}'">Войти</button>
            </div>
        </div>
        <div class="line-gr">

        </div>
    </header>
    <main>
        <div>
            <div class="create">
                <h2 class="style-text-head">Создание аккаунта</h2>
            </div>
            <form method="post" >
                {% csrf_token %}
                <div class="create">
                    {{ form.email }}
                </div>
                <div class="create">
                    {{ form.password }}
                </div>
                <div class="create">
                    {{ form.username }}

                </div>
                <div class="create">
                    {{ form.last_name }}
                </div>
                <div class="create">
                    <p class="style-text-small text-color-small"> Используйтеs 8 или более символов, состоящих из букв, цифр и символов.</p>
                </div>
                <div class="cont-button">
                    <button class="enter-text button-create-ak">Создать аккаунт</button>
            </div>
            </form>
        </div>
    </main>
</body>
</html>
