{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="container">
            <div class="create">
                <h2 class="style-text-head">Создание аккаунта</h2>
            </div>
            <form method="post" >
                {% csrf_token %}
                <div class="create">
                    {{ form.email }}
                </div>
                <div class="create">
                    {{ form.password }}
                </div>
                <div class="create">
                    {{ form.username }}

                </div>
                <div class="create">
                    {{ form.last_name }}
                </div>
                <div class="create">
                    <p class="style-text-small text-color-small"> Используйтеs 8 или более символов, состоящих из букв, цифр и символов.</p>
                </div>
                <div class="cont-button">
                    <button class="enter-text button-create-ak">Создать аккаунт</button>
            </div>
            </form>
        </div>
{% endblock %}