@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color: rgba(252, 250, 248, 1);
}

main{
    display:flex;
    justify-content:center;
}

.flex{
    display: flex;
}

.username{
    height:40px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    color: rgba(27, 20, 14, 1);
}

.button-text{
    color: rgba(27, 20, 14, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.name-history-flat{
    color: rgba(27, 20, 14, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.price{
    color: rgba(151, 111, 78, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.his-img{
    height: 223px;
    width: 223px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}

.your-img{
    height: 171px;
    width: 320px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30%;
    margin-bottom: 40px;
}

.view-but{
    vertical-align: middle;
    line-height: 32px;
    width: 115px;
    height: 32px;
    border-radius: 12px;
    background-color: rgba(245, 240, 229, 1);
    text-align: center;
}

.view-text{
    color: rgba(27, 20, 14, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.flat-name{
    color: rgba(27, 20, 14, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.div-redact{
    margin: 60px 10px 0 100px;
}

.redact-but{
    background-color: rgba(245, 240, 229, 1);
    border-radius: 12px;
    width: 234px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.head-prof-block{
    height: 160px;
    display: flex;
    vertical-align: middle;
}

.div-logout{
    margin: 60px 10px 0 0;
}

.log-out-but{
    background-color: rgba(232, 131, 48, 1);
    border-radius: 12px;
    width: 234px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.logo-prof{
    height: 128px;
    width: 128px;
    border-radius: 64px;
    background-image: url(../img/photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.name-block{
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    margin-left: 10px;
}

.his-block{
    margin-right: 20px;
}

.description-your-flat{
    width: 300px;
    margin-bottom: 40px;
}
