@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    background-color: rgba(252, 250, 248, 1);
}
.head{
    display: flex;
    vertical-align: middle;
    line-height: 18px;
}
.search{
    width: 256px;
    height: 40px;
    border-radius: 12px;
    background-color: rgba(244, 242, 240, 1);
    border: none;
    margin-top: 8px;
}
.head-navigation-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 14px;
    font-style: normal;
    color: black;
}
.name{
    margin-right: 30%;
}
.navigation-text{
    margin: 0 20px 0;
}
.name-only{
    width: 100px;
}
.publish-adv{
    background-color: rgba(232, 131, 48, 1);
    border-radius: 9999px;
    border: none;
}
.button-text{
    color: rgba(27, 20, 14, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.button-submit{
    width: 480px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: rgba(232, 131, 48, 1);
    vertical-align: middle;
    line-height: 10px;
}
.text-submit{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: black;
}
.height-margin{
    margin-top: 30px;
}
.content{
    margin-left: 30%;
}
.text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-size: small;
    font-style: normal;
    color: rgba(28, 23, 13, 1);
}
.columns{
    display: flex;
}
.part{
    width: 25%;
    height: 100px;
}
.head-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-size: small;
    font-style: normal;
    color: rgba(151, 111, 78, 1);
}
.line{
    background-color: rgba(231, 218, 208, 1);
    height: 1px;
    width: 45%;
}
.price-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: rgba(28, 23, 13, 1);
}
.price-block{
    margin-top: 20px;
}