<div class="head">
    <div class="name">
        <div></div>
        <div class="name-only">
            <h3>Домовенок ЙОУУУУ</h3>
        </div>
    </div>
    <div class="head">
        <input class="search" placeholder="Поиск">
        {% for item in menu %}
        <div class="navigation-text">
            <a href="{% url item.url_name %}" style="text-decoration: none;">
                <p class="head-navigation-text">{{ item.name }}</p>
            </a>
        </div>
        {% endfor %}
        <div>
            <a href="{% url 'flat_add' %}">
                <button class="publish-adv">
                    <p class="button-text">Разместить объявление</p>
                </button>
            </a>
        </div>
        <div>
        </div>
    </div>
</div>