<div class="head">
    <div class="name">
        <div></div>
        <div class="name-only">
            <h3>Домовенок ЙОУУУУ</h3>
        </div>
    </div>
    <div class="head">
        {% for item in menu %}
        <div class="navigation-text">
            <a href="{% url item.url_name %}" class="no-underline">
                <p class="head-navigation-text">{{ item.name }}</p>
            </a>
        </div>
        {% endfor %}
        <div>
            <a href="{% url 'add_flat' %}">
                <button class="publish-adv button-text">Разместить объявление</button>
            </a>
        </div>
        <div>
        </div>
    </div>
</div>
